body {
    margin: 0px;
    font-family: Roboto;
}
.header {
    display: flex;
    background-color: #1F2937;
    width: 100%;
    margin: 0 auto;
}

nav  a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

li{
    list-style: none;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    min-width: 150px;
}

.nav-flex{
    display: flex;
    min-width: 400px;
}